## Tuples
 it is collection of different data types seperated by comma and enclose with ()

In [1]:
t=(1,4,88,7,99,"hi","sweety")
t

(1, 4, 88, 7, 99, 'hi', 'sweety')

In [2]:
type(t)

tuple

In [4]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [5]:
t.count(99)

1

In [7]:
t1=(5,7,9,"chitti","madhavi")
type(t1)

tuple

In [8]:
t1.count(9)

1

In [9]:
t1.index("chitti")

3

In [11]:
t1[-1]

'madhavi'

In [12]:
t1[0]

5

In [13]:
t1[1:]

(7, 9, 'chitti', 'madhavi')

In [14]:
t1*2

(5, 7, 9, 'chitti', 'madhavi', 5, 7, 9, 'chitti', 'madhavi')

In [15]:
print(t+t1)

(1, 4, 88, 7, 99, 'hi', 'sweety', 5, 7, 9, 'chitti', 'madhavi')

In [16]:
t[0]//3

0

##  Set
it is collection of elements seperated by commas and enclosed with {}.
Set has no index........the elements are inordered

In [19]:
se={1,2,3,4,6,8} ## it displays only the unique elements
type(se)
se

{1, 2, 3, 4, 6, 8}

In [22]:
s={"apple","mango","pomegranate"}
print(type(s))
s

<class 'set'>

{'apple', 'mango', 'pomegranate'}

In [23]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [24]:
s

{'apple', 'mango', 'pomegranate'}

In [25]:
se

{1, 2, 3, 4, 6, 8}

In [27]:
se.add(9) ##to add the elements
se

{1, 2, 3, 4, 6, 8, 9}

In [29]:
se.clear() # to clear the elements in the set
se

set()

In [30]:
s={6,9,8,77,90,20,100}
s

{6, 8, 9, 20, 77, 90, 100}

In [38]:
s1=s.copy()
print(s1)

{100, 20, 6, 8, 9, 90, 77}

In [40]:
x={1,2,4,5,67} # it displays the elements which are not present in y
y={1,6,55,2,5}
z=x.difference(y)
z1=y.difference(x)
print(z)
print(z1)

{67, 4}
{6, 55}

In [42]:
x.isdisjoint(y) # if the elements are not same in bothe x&y then it will display true

False

In [44]:
help(set.union)

Help on method_descriptor:

union(...)
    Return the union of sets as a new set.

    (i.e. all elements that are in either set.)

In [45]:
print(x.union(y))

{1, 2, 67, 4, 5, 6, 55}

In [46]:
print(x.intersection(y))

{1, 2, 5}

In [47]:
help(set.issubset)

Help on method_descriptor:

issubset(...)
    Report whether another set contains this set.

In [49]:
print(x.issubset(y))

False

In [50]:
print(y.issubset(x))

False

In [53]:
print(y.issuperset(x))
print(x.issuperset(y))

False
False

## Accessing elements in the set

In [54]:
set={2,3,4,5,6,7,}
for kvsw in range(len(set)):
    print(kvsw,end=",")

0,1,2,3,4,5,

In [55]:
y.update(x)  ## updating the elements from x and y
y

{1, 2, 4, 5, 6, 55, 67}

In [60]:
help(set.symmetric_difference)

Help on built-in function symmetric_difference:

symmetric_difference(...) method of builtins.set instance
    Return the symmetric difference of two sets as a new set.

    (i.e. all elements that are in exactly one of the sets.)

In [62]:
z=x.symmetric_difference(y) ## discarding the same elements and printing the other element
z

{6, 55}

In [64]:
x.pop()

1

In [65]:
x.pop()

2

In [70]:
y.remove(2)
y

{1, 4, 5, 6, 67}

In [71]:
y.discard(55)
y

{1, 4, 5, 6, 67}

In [1]:
l1=[2,6,7,8,9,7,5,4]
print(type(l1))
l1
x=set(l1)
print(type(x),x)

<class 'list'>
<class 'set'> {2, 4, 5, 6, 7, 8, 9}

##  take input from user 5 6 7 8 8 5
# output 5 6 78

In [1]:
s=input().split()
print(type(s),s)
p=set(s)
print(type(p),p)

5 6 7 8 8 5
<class 'list'> ['5', '6', '7', '8', '8', '5']
{'8', '6', '5', '7'}

In [2]:
s=list(set(map(int,input().split())))
print(s)

5 6 7 8 8 5
[8, 5, 6, 7]