## Tuples
 it is collection of different data types seperated by comma and enclose with ()

In [1]:
t=(1,4,88,7,99,"hi","sweety")
t

(1, 4, 88, 7, 99, 'hi', 'sweety')

In [2]:
type(t)

tuple

In [4]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [5]:
t.count(99)

1

In [7]:
t1=(5,7,9,"chitti","madhavi")
type(t1)

tuple

In [8]:
t1.count(9)

1

In [9]:
t1.index("chitti")

3

In [11]:
t1[-1]

'madhavi'

In [12]:
t1[0]

5

In [13]:
t1[1:]

(7, 9, 'chitti', 'madhavi')

In [14]:
t1*2

(5, 7, 9, 'chitti', 'madhavi', 5, 7, 9, 'chitti', 'madhavi')

In [15]:
print(t+t1)

(1, 4, 88, 7, 99, 'hi', 'sweety', 5, 7, 9, 'chitti', 'madhavi')

In [16]:
t[0]//3

0

##  Set
it is collection of elements seperated by commas and enclosed with {}.
Set has no index........the elements are inordered

In [19]:
se={1,2,3,4,6,8} ## it displays only the unique elements
type(se)
se

{1, 2, 3, 4, 6, 8}

In [22]:
s={"apple","mango","pomegranate"}
print(type(s))
s

<class 'set'>

{'apple', 'mango', 'pomegranate'}