## Handling csv Files

In [1]:
file="mstp.txt"            # creating the file
def name(file):
    with open(file,'w') as f:
        f.write("kvsw"+","+"kvsr"+","+"kvsm")
name(file)

In [5]:
with open(file,'a') as f:  # adding the another string in the file
    f.write("\n"+"cse"+","+"civil"+","+"ece")

In [6]:
with open(file,'r') as f:     # to print the string in a list 
    s=f.readlines()
    print(s)

['kvsw,kvsr,kvsmcse,civil,ece\n', 'cse,civil,ece']

In [7]:
print(s[0]) # to print the string in the 0 index

kvsw,kvsr,kvsmcse,civil,ece

In [1]:
file="contacts.txt"
with open(file,"a") as f:
    f.write("name"+","+"8639266625"+","+"kvswwomens@gmail.com")
    f.write("\nname1"+","+","+"8639266625"+"kvswwomens@gmail.com")

In [2]:
## converting csvfile to listfile
def csvtolist(file):
    with open(file,'r') as f:
        s=f.readlines()
        print(s)
        print(s[1])
csvtolist(file)

['name,8639266625,kvswwomens@gmail.com\n', 'name1,,8639266625kvswwomens@gmail.com\n', 'monu,9581089228,monishabegum@email.com\n', 'bindu,9581089228,ananthahimabindu205@email.com\n', 'bindu,9581089228,ananthahimabindu205@email.com\n', 'bindu,9581089228,ananthahimabindu205@email.com\n', 'name,8639266625,kvswwomens@gmail.com\n', 'name1,,8639266625kvswwomens@gmail.com']
name1,,8639266625kvswwomens@gmail.com

In [3]:
def csvtolist(file):    ## converting the csv to list ang getting the individual strings
    l=[]
    with open(file,'r') as f:
        for line in f:
            l.append(line.split(","))
    print(l)
    print(l[0][0])
    print(l[0][2])
    
csvtolist(file)

[['name', '8639266625', 'kvswwomens@gmail.com\n'], ['name1', '', '8639266625kvswwomens@gmail.com\n'], ['monu', '9581089228', 'monishabegum@email.com\n'], ['bindu', '9581089228', 'ananthahimabindu205@email.com\n'], ['bindu', '9581089228', 'ananthahimabindu205@email.com\n'], ['bindu', '9581089228', 'ananthahimabindu205@email.com\n'], ['name', '8639266625', 'kvswwomens@gmail.com\n'], ['name1', '', '8639266625kvswwomens@gmail.com']]
name
kvswwomens@gmail.com

In [4]:
def csvtolist(file):    ## coverting list to csv
    l=[]
    with open(file,'r') as f:
        for line in f:
            l.append(line.split(","))
    return l
csvtolist(file)
def listtocsv(file):
    d=csvtolist(file)
    s=""
    for i in d:
        s+=",".join(i)
    print(s)
listtocsv(file)

name,8639266625,kvswwomens@gmail.com
name1,,8639266625kvswwomens@gmail.com
monu,9581089228,monishabegum@email.com
bindu,9581089228,ananthahimabindu205@email.com
bindu,9581089228,ananthahimabindu205@email.com
bindu,9581089228,ananthahimabindu205@email.com
name,8639266625,kvswwomens@gmail.com
name1,,8639266625kvswwomens@gmail.com

In [5]:
import re
def phonenumber(no):
    pattern='^[0][6-9][0-9]{9}$|^[+][9][1][6789][0-9]{9}$|^[6-9][0-9]{9}$'
    if re.match(pattern,no):
        return 1
    else:
        return 0
def email(n):
    pattern='^([a-z]|[A-Z]|[0-9])([0-9]|[A-Z]|[a-z]|[_]){6,}([0-9]|[a-z])@[a-z]{2,10}[.][a-z]{2,4}$'
    if re.match(pattern,n):
        return True
    else:
        return False
def searchcontact(name,file):
    r=csvtolist(file)
    for i in r:
        if i[0]==name:
            return 1
    return 0
searchcontact("janu","contacts.txt")
def addcontact(name,no,n,file):
    if searchcontact(name,file)==0:
        if phonenumber(no)==1:
            if email(n)==1:
                with open(file,'a') as p:
                    p.write(name+","+no+","+n)
                    print("contact added successfully")
    else:
        print("contact already exists")
addcontact("\nbindu","9581089228","ananthahimabindu205@email.com","contacts.txt")

contact added successfully

## Functional Programming

In [4]:
# Ex procedure
#scripting -php,java,python,shell

## list or dictionaries tuplesor sets cpmprehension

In [7]:
# print n natural numbers
n=int(input())
for i in range(1,n+1):
    print(i,end=" ")

10
1 2 3 4 5 6 7 8 9 10

In [ ]:
# list comprehension
==>expression for list in itemcondition

In [8]:
n=int(input())
li=[i for i in range(1,n+1) ]
li

10

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [9]:
x="apssdc"
print(type(x))
for i in x:
    print(i)

<class 'str'>
a
p
s
s
d
c

In [10]:
l=[s for s in x]
l

['a', 'p', 's', 's', 'd', 'c']

In [11]:
s="google.com"
a=s.upper()
a

'GOOGLE.COM'

In [14]:
f=[i.upper() for i in a]
f

['G', 'O', 'O', 'G', 'L', 'E', '.', 'C', 'O', 'M']

In [15]:
x="123abc"
for i in x:
    if i.isdigit():
        print(i,end=" ")

1 2 3

In [17]:
ls=[n for n in x if n.isdigit()]
print(ls)

['1', '2', '3']

## print first 10 square root values

In [21]:
n=int(input()) ## using list comprehension
s=[i**0.5 for i in range(1,n+1)]
s

10

[1.0,
 1.4142135623730951,
 1.7320508075688772,
 2.0,
 2.23606797749979,
 2.449489742783178,
 2.6457513110645907,
 2.8284271247461903,
 3.0,
 3.1622776601683795]

In [23]:
import math    ## find the sqrt of first five numbers
n=5
l=[]
for i in range(1,n+1):
    l.append(math.sqrt(i))
l

[1.0, 1.4142135623730951, 1.7320508075688772, 2.0, 2.23606797749979]

In [26]:
li=[math.sqrt(n) for n in range(1,11)]  ## using list comprehension find the sqrts
li

[1.0,
 1.4142135623730951,
 1.7320508075688772,
 2.0,
 2.23606797749979,
 2.449489742783178,
 2.6457513110645907,
 2.8284271247461903,
 3.0,
 3.1622776601683795]

In [28]:
lb=int(input())
ub=int(input())
d=[lb*lb for lb in range(lb,ub+1)]
d

20
30

[400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900]

In [30]:
k=[i*i for i in range(21,31)]  ## using list comprehensive
k

[441, 484, 529, 576, 625, 676, 729, 784, 841, 900]

In [35]:
k=[i**3 for i in range(40,51)] ## cubing of numbers in given range
k

[64000,
 68921,
 74088,
 79507,
 85184,
 91125,
 97336,
 103823,
 110592,
 117649,
 125000]

## To find the factorial of a given number

In [9]:
def fact(n):
    f=1
    l=[]
    for i in range(1,n+1):
        f=f*i
        l.append(f)
    print(f)
    print(l)
n=int(input())    
fact(n)

5
120
[1, 2, 6, 24, 120]

In [10]:
l_s=[fact(i) for i in range(5)]

1
[]
1
[1]
2
[1, 2]
6
[1, 2, 6]
24
[1, 2, 6, 24]

In [15]:
## even or odd
even=[i for i in range(20,30) if i%2==0]
odd=[i for i in range(20,30) if i%2==1]
print(even)
print(odd)

[20, 22, 24, 26, 28]
[21, 23, 25, 27, 29]

In [18]:
for i in range(20,30):
    if i%2==0:
        print(i)
    else:
        print(i)

20
21
22
23
24
25
26
27
28
29

In [22]:
h=["even" if i%2==0 else i  for i in range(11,21)]
h

[11, 'even', 13, 'even', 15, 'even', 17, 'even', 19, 'even']

In [23]:
s=[i for i in range(1,20+1)if i%2==0 if i%5==0]
s

[10, 20]

In [31]:
# leap year from 2000-2020
l=[i for i in range(2000,2020) if (i%4==0 and i%100!=0) or i%400==0]
l

[2000, 2004, 2008, 2012, 2016]

## Lambda

In [ ]:
#anonymous function
## syntax
lambda arguments:expression
# i accepts only one expression

In [33]:
def square(n): # to find the square of number using lambda
    n**2
square(3)
d=lambda n:n**2
print(d(3))

9

In [35]:
d=lambda n:n**3 ## to find the cube of a number using lambda
print(d(3))

27

In [37]:
l=[1,2,3,4,5]  ## to find the square of each number
l1=[]
for j in range(len(l)):
    a=l[j]**2
    l1.append(a)
print(l1)

[1, 4, 9, 16, 25]

In [38]:
a=[l[i]**2 for i in range(len(l))]
a

[1, 4, 9, 16, 25]

## Iterators

In [41]:
l=[1,2,3,4,5]
for i in l:
    print(i)

1
2
3
4
5

In [42]:
#iter(),next()   ## to get the values one by one
a=iter(l)
print(next(a))
print(next(a))

1
2

## Generators

In [44]:
def add(a,b):
    return a+b
    a+=1
    b=+1
    return a+b
add(2,3)

5

In [47]:
# yield,next
def add(a,b):
    c=a+b
    yield a+b
    a+=1
    b=+1
    c=a+b
    yield c
d=add(2,3)
print(next(d))
print(next(d))
for i in add(2,3):
    print(i)

5
4
5
4

## Map

In [51]:
##syntax --map(fun,iterable)
def square(n):
    return n**2
l=[1,2,3,4,5]
print(list(map(square,l)))

[1, 4, 9, 16, 25]

In [52]:
l=[1,2,3,4]
print(list(map(lambda x:x**2,l)))

[1, 4, 9, 16]

In [53]:
## addition of two numbers
t={1,2,3,4}
t1={1,2,3,4}
print(list(map(lambda a,b:a+b,t,t1)))

[2, 4, 6, 8]

## filter

In [54]:
#filter(fun,iterables)
l=[1,2,3,4,5,6,7,8]
a=list(filter(lambda x:x%2==0,l))
a

[2, 4, 6, 8]

In [58]:
l=[1,2,3,'a','b']
l1=[]
for i in l:
    if str(i).isdigit():
        l1.append(i)
print(l1)
def digit(l1):
    for i in l:
        if str(i).isdigit():
            return True
        return False
a=list(filter(digit,l))

[1, 2, 3]

In [69]:
## to print the prime numbers
l=list(range(10))
def prime(n):
    fact=0
    for i in range(1,n+1):
        if n%i==0:
            fact=fact+1
    if fact==2:
        return 1
    return 0
print(list(filter(prime,l)))

[2, 3, 5, 7]